p {
  font-family: Lato;
}
.box{
  width: 100px;
  height: 100px;
  padding: 20px 40px;
  margin: 20px;
  border: 5px solid black;
}
.red-border{
  border: 5px solid red;
}
.green-background{
  background: rgb(76, 235, 76);
}
