<p>Your name: {{ title }}</p>

<input type="text" [ngModel]="title" (ngModelChange) ="title= $event" />
<br>
<!-- toggleComp la instance cua toggleComponent -->
<toggle  [(checked)]="isChecked"></toggle>

<!-- <button (click)="toggleComp.toggle()">Click me</button> -->

<!-- ///DAY 4 -->

<!-- <h1>{{title}}</h1>
<hello *ngIf="user.age >= 15;else under15" [name]="user.name"></hello>

<ng-template #under15>
  <div>
    You are young  to see this content
  </div>
</ng-template>

<button (click)="user.age = user.age - 1 ">-</button>
Age: {{user.age}}
<button (click)="user.age = user.age + 1 ">+</button>
<h3>{{ user.name }}</h3>

<p>{{ user.age }}</p>

<input type="text" [value]="user.name">

<button type="button" (click)="handler($event)">Click me</button>
<br><br>
<input type="text" [ngModel]="title" (ngModelChange)="title= $event"/> -->

<!-- ///DAY 5 -->
<!-- <hello name="{{title}}"></hello> -->

<!-- for ( let somthing of user ){

}-->
<!-- <ul>
  <li *ngFor="let u of users; index as b; count as total; first as isFirst; last as isLast; even as isEven; odd as isOdd">
    <span>{{u.id}} - {{u.name}} -  {{u.phone}}</span>
    <br>
    <span>at index {{b}} out of {{total}}</span>
    <br>
    <span *ngIf="isEven">i am even number</span>
    <br>
    <span *ngIf="isOdd">i am odd number</span>
    <br>
    <span *ngIf="isLast">i am last</span>
    <br>
    <span *ngIf="isFirst">i am first</span>
    <br><br><br>
  </li>
</ul>

<button *ngFor="let tag of tag; last as isLast" [class.right-magin]="!isLast">{{tag}}</button> -->

<!-- /// DAY 6 -->
<!-- <h1 style="color: red;">{{title}}</h1>
<h1 [style.background-color]="'green'">{{title}}</h1>
<h1 [style.fontSize.rem]="4">{{title}}</h1>
<h1 [style]="{color: 'yellow', backgroundColor: 'black'}">{{title}}</h1>
<h1 [style.--text-color]="isDanger ? 'red' : 'blue'" [style]="{color:'var(--text-color)'}">{{title}}</h1>

<button (click)="isDanger = !isDanger">Danger</button>
<br>
<button (click)="isWarning = !isWarning">Warning</button>

<div class="" [class.red-border]="isDanger" [class.green-background]="isWarning" div> -->

<!-- ///DAY 7 -->
<!-- <div>
  <button (click)="currentProgress = currentProgress + 1">Increase Progress</button>
  <button (click)="currentProgress = currentProgress - 1">Reduce Progress</button>
  <progress-bar></progress-bar>
  <br>
  <progress-bar [progress]="redProgress" [progressColor]="'red'"></progress-bar>
  <br>
  <progress-bar [progress]="currentProgress" [progressColor]="'blue'"></progress-bar>
</div> -->

<!-- ///DAY 8 -->
<!-- <author-list></author-list> -->

<!-- ///DAY 9 -->
<!-- <input type="text" [ngModel]="title" (ngModelChange)="title= $event" />
<br>
<toggle [checked]="checked"></toggle> -->

<!-- ///DAY 10 -->
<!-- toggleComp là template variable
angular biết được khi bạn đặt cái template variable lên 1 DOM element thì angular sẽ tham chíu tới elemet đáy trên cái Dom của mình nó đc gọi là HTMLButtonElement
ViewChild là tham chiếu Child trên View(dễ hiểu hơn là view đứa con của app.component.html)
có 2 cách truyền cái gì đó vào @ViewChild:
-string: string phải mach với template variable để nó tham chiếu tới toggleComponent.
-truyền thẳng vào class(token)
nếu mình muốn có tham chiếu tới ToggleComponent bên trong ngOnInit ko phải ngAfterViewInit(có sớm hơn một chút ) thì ViewChild có hổ trợ biến thứ 2 gọi là Option
-->
